{% extends 'base.html.twig' %}
{% block title %}creation event
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card text-center">
			<div class="card-header mb-5">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item w-25">
						<a class="nav-link" aria-current="true" href="{{path('organizer_profil')}}">Profil</a>
					</li>
					<li class="nav-item w-25">
						<a class="nav-link active" href="{{path('organizer_events')}}">Events</a>
					</li>
					<li class="nav-item w-25">
						<a class="nav-link" href="{{path('organizer_history')}}">Historique</a>
					</li>
					<li class="nav-item w-25">
						<a class="nav-link" href="{{path('organizer_stats')}}">Statistiques</a>
					</li>
				</ul>
			</div>
			<div class="card-body mb-3">
				<h1 class="text-center">Creation d'un event</h1>
				{{form_start(formView)}}

				{{ form_errors(formView) }}

				<div class="row">
					<div class="col-12 col-lg-4 my-4">
						<div class="form-group">
							{{form_row(formView.title)}}
						</div>
					</div>
					<div class="col-12 col-lg-4 my-4">
						<div class="form-group">
							{{form_row(formView.category)}}
						</div>
					</div>
					<div class="col-12 col-lg-4 my-4">
						<div class="form-group">
							{{form_row(formView.eventGroup)}}
						</div>
					</div>
					<div class="col-12 my-4">
						<div class="form-group">
							{{form_row(formView.description)}}
						</div>
					</div>
					<div class="col-12 col-md-6 my-4">
						<div class="form-group">
							{{form_row(formView.startedAt)}}
						</div>
					</div>
					<div class="col-12 col-md-6 my-4">
						<div class="form-group">
							{{form_row(formView.endedAt)}}
						</div>
					</div>
					<div class="col-12 col-lg-4 my-4">
						<div class="form-group">
							{{form_row(formView.email)}}
						</div>
					</div>
					<div class="col-12 col-lg-4 my-4">
						<div class="form-group">
							{{form_row(formView.website)}}
						</div>
					</div>
					<div class="col-12 col-lg-4 my-4">
						<div class="form-group">
							{{form_row(formView.phone)}}
						</div>
					</div>
					<div class="col-12 col-lg-4 my-4">
						<div class="form-group">
							{{form_row(formView.facebookLink)}}
						</div>
					</div>
					<div class="col-12 col-lg-4 my-4">
						<div class="form-group">
							{{form_row(formView.instagramLink)}}
						</div>
					</div>
					<div class="col-12 col-lg-4 my-4">
						<div class="form-group">
							{{form_row(formView.twitterLink)}}
						</div>
					</div>

					<div class="col-12">
						<p>Renseigner votre adresse
							<i class="fas fa-search"></i>
						</p>
						<div class="form-floating mb-3">
							<input class="form-control adress-field" type="text" id="adressEvent" name="adressEvent" placeholder="saisissez l'adresse de l'évênement">
						</div>
						<div>
							<nav id="resultatApiEvent"></nav>
						</div>
					</div>

					<div class="col-12 col-md-6 col-xl-3 my-4">
						<div class="form-group">
							{{form_row(formView.localisation.cityName, {'id':'cityEvent'}) }}
						</div>
					</div>
					<div class="col-12 col-md-6 col-xl-3 my-4">
						<div class="form-group">
							{{form_row(formView.localisation.cityCp, {'id':'postcodeEvent'})}}
						</div>
					</div>
					<div class="col-12 col-xl-6 my-4">
						<div class="form-group">
							{{form_row(formView.localisation.adress, {'id':'nameAddEvent'})}}
						</div>
					</div>
					<div class="col-12 col-lg-6 my-4 d-none">
						<div class="form-group">
							{{form_row(formView.localisation.coordonneesX, {'id':'xEvent'})}}
						</div>
					</div>
					<div class="col-12 col-lg-6 my-4 d-none">
						<div class="form-group">
							{{form_row(formView.localisation.coordonneesY, {'id':'yEvent'})}}
						</div>
					</div>
					<div class="col-12 my-4">
						<h4 class="text-center">Ajouter des photos</h4>
						<div class="form-group">
							{{form_row(formView.pictures)}}
						</div>
					</div>

					<div class="row">
						<button class="btn btn-primary w-25 m-auto" type="submit">Creer l'évênement</button>
					</div>
				</div>
				{{form_end(formView)}}
			</div>
		{% endblock %}
		{% block javascripts %}
			{{parent()}}
			<script src="/script/apiAdress.js"></script>
			<script>
				// pour les formulaires d'adress
envoieAjax('adressEvent', 'Event');
			</script>
		{% endblock %}
