{% extends 'base.html.twig' %}
{% block title %}Évênements du groupe
	{{ eventGroup.name }}
{% endblock %}


{% block body %}
	<h1 class="text-center">Groupe :
		{{ eventGroup.name }}
	</h1>
	<div class="container">
		<div class="row my-5" id="content">
			{% if eventGroup.events is empty %}
				<div class="col-12">
					<div class="alert alert-info">
						<p>Pas d'Êvenements pour ce groupe</p>
					</div>
				</div>
			{% else %}
				{% for event in eventGroup.events %}
					<div class="col-12 col-sm-6 col-lg-4 mb-3">
						<a href="{{ path('event_show', {event_id: event.id }) }}">
							<div class="card event-card">
								<div class="card-body">
									<h5 class="card-title">{{ event.title }}</h5>
									<p>
										<em>Le
											{{ event.startedAt | date('d/m/Y') }}</em>
									</p>
									<div class="card-text event-card-desc">{{ event.description | u.truncate(90, "...") | raw}}</div>
									<div class="btn btn-sm bg-secondary text-light">{{ event.category.name }}</div>
								</div>
								<div>
									{% if event.pictures is not empty %}
										<img src="{{ asset('uploads/' ~ event.pictures[0].path) }}" class="card-img-top" alt="{{ event.title }}">
									{% else %}
										<img src="{{ asset('img/image_event_default.jpg') }}" class="card-img-top" alt="{{ event.title }}">
									{% endif %}
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>

{% endblock %}
