{% extends 'base.html.twig' %}
{% block title %}Êvenements{% endblock %}



{% block body %}
<p>Page affichant les êvenements (sans tri et sans bloc 'evenemetns populaires)    Juste la liste</p>
    {% for event in events %}
    <div class="border">    
        <p>{{ event.title }}</p>
        <p>{{ event.description }}</p>
        <p>{{ event.startedAt | date('Y-m-d') }} à {{ event.startedAt | date('H:i:s')}}</p>
        <p>{{ event.endedAt | date('Y-m-d') }} à {{ event.endedAt | date('H:i:s')}}</p>
        <p>{{ event.email }}</p>
        <p>{{ event.website }}</p>
        <p>{{ event.phone }}</p>
        <p>{{ event.countViews }}</p>
        <p>{{ event.tag }}</p>
        <p>{{ event.slug }}</p>
        <p>{{ event.createdAt | date('Y-m-d') }} à {{ event.createdAt | date('H:i:s')}}</p>
        {% if event.eventGroup %}
            <p>{{ event.eventGroup.name }}</p>
        {% endif %}
        {% if event.category %}
            <p>{{ event.category.name }}</p>
        {% endif %}
        {% for picture in event.pictures %}
            <img src="{{ picture.path }}" alt="">
        {% endfor %}
        <div class="bg-primary">        
            {% for transport in event.transports %}
                <p>id : {{ transport.id }}</p>
            {% endfor %}
        </div>
    </div>        
    {% endfor %}
{% endblock %}
