{% extends 'base.html.twig' %}
{% block title %}
	{{ event.title }}
{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="text-center mt-4">{{ event.title }}
		</h1>
		<p class="text-center mt-4">vu
			{{ countView }}
			fois</p>
		<div class="row d-flex justify-content-center my-5">
			<div class="col-12 col-lg-8 border-end">
				<div class="row px-2 py-2">
					{% if pictures is not empty %}
						<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner">
								{% for picture in pictures %}
									<div class="carousel-item {{ picture == pictures[0] ? 'active' : '' }}">
										<img src="{{ asset('uploads/' ~ picture.path) }}" class="d-block w-100" alt="{{ event.title }}">
									</div>
								{% endfor %}
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					{% else %}
						<img src="{{ asset('img/image_event_default.jpg') }}" class="card-img-top" alt="{{ event.title }}">
					{% endif %}
					<div class="col-12">
						<p class="badge bg-secondary">{{ event.category.name }}</p>
					</div>
					<div class="col-12 d-flex justify-content-center">
						<h6>Description</h6>
					</div>
					<div class="col-12 border" style="min-height: 50px;">
						{{ event.description | raw }}
					</div>
					{% if isOnEvent %}
						<div class="col-12 col-md-6 mt-4 mb-4">
							<a href="{{ path('transport', {event_id: event.id }) }}" class="btn btn-primary">Les transports</a>
						</div>
						<div class="col-12 col-md-6 mt-4 mb-4">
							<a href="{{ path('transport_create', {event_id: event.id }) }}" class="btn btn-primary">Proposer un transport</a>
						</div>
					{% endif %}
				</div>
			</div>
			<div class="col-12 col-lg-4 px-2">
				<div class="row py-2">
					{% if user %}
						{% if isOnEvent %}
							<div class="col-12 py-2">
								<p class="fw-bold">Vous participez à cet événement</p>
								<a href="{{ path('event_cancel', {event_id: event.id}) }}" class="btn btn-danger">Annuler ma participation</a>
							</div>
						{% else %}
							<div class="col-12 py-2">
								<a href="{{ path('event_participate', {event_id: event.id}) }}" class="btn btn-success">Participer</a>
							</div>
						{% endif %}
					{% else %}
						<div class="col-12 py-2">
							<a class="btn btn-primary" href="{{ path('app_login') }}">Connectez vous pour participer à cet événement</a>
						</div>
					{% endif %}
				</div>
				<div class="row">
					<div class="col-12">
						<p class="fs-5 fw-bold">Du
							{{ event.startedAt | date('d/m/Y') }}
							au
							{{ event.endedAt | date('d/m/Y') }}</p>
					</div>
					<div class="col-12">
						<p class="fs-5 fw-bold">Horaire de Début :
							{{ event.startedAt | date('H')}}
							h
							{{ event.startedAt | date('i')}}</p>
						<p class="fs-5 fw-bold">Horaire de Fin :
							{{ event.endedAt | date('H')}}
							h
							{{ event.endedAt | date('i')}}</p>
					</div>
					{% if event.eventGroup is not same as(null) %}
						<div class="col-12">
							<a href="{{ path('event_group', {group_id: event.eventGroup.id }) }}" title="">Voir les autres événement du même Event-group</a>
						</div>
					{% endif %}
				</div>
				<div class="row">
					<div class="col-12 py-2">
						<div class="border-top">
							<span class="fs-6  lh-1">{{ event.localisation.adress }}</span><br>
							<span class="fs-6 lh-1">{{ event.localisation.cityName }}</span><br>
							<span class="fs-6 lh-1">France</span>
							<span class="fs-6 lh-1">Tel :
								{{ event.phone }}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 py-2">
						<div class="border-top">
							<div class="col-12">
								<span class="fs-6  lh-1">Facebook :
									<a class="link-secondary" href="{{ event.facebookLink }}">{{ event.facebookLink}}</a>
								</span>
							</div>
							<div class="col-12">
								<span class="fs-6  lh-1">Twitter :
									<a class="link-secondary" href="{{ event.twitterLink }}">{{ event.twitterLink}}</a>
								</span>
							</div>
							<div class="col-12">
								<span class="fs-6  lh-1">Instagram :
									<a class="link-secondary" href="{{ event.instagramLink }}">{{ event.instagramLink}}</a>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 py-2">
						<div class="border-top">
							<span class="fs-6  lh-1">
								Site de l'event :<a href="{{ event.website }}">{{ event.website }}</a>
							</span><br>
						</div>
					</div>
					<div class="pt-2 border-top d-flex justify-content-center align-items-end">
						{{event.tag | raw}}
						<div id="to-copy" class="d-none">{{ event.tag }}</div>
						<button title="copier le tag" id="btn-copy" class="btn btn-primary">
							<i class="far fa-copy"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('/script/clipBoard/clipBoard.js') }}"></script>
{% endblock %}
