{% extends "base.admin.html.twig" %}

{% block body %}

    <h3>Organisateurs du site</h3>
    <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary" href="{{ path('organizercrud_create')}}">Ajouter un organisateur</a>
    </div>
    <div class="table-responsive">
        <table id="dataTable" class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Nom</th>
                    <th>Société</th>
                    <th>Est validé</th>
                    <th>Inscription le </th>
                    <th>Détail</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th>{{user.id}}</th>
                    <th>{{user.email}}</th>
                    <th>{% for role in user.getRoles %}
                            {{role}}
                    {% endfor %}</th>
                    <th>{{user.lastname}}</th>
                    <th>{{user.companyName}}</th>
                    <th>{{user.isValidate}}</th>
                    <th>{{user.registerAt | date('Y-m-d H:i') }}</th>
                    <th>quelque chose</th>
                    <th>
                        <a href="{{path('organizercrud_edit',{id:user.id})}}">Editer</a>
                        <a href="{{path('organizercrud_delete',{id:user.id})}}">Supprimer</a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="/script/renderTable.js"></script>
{% endblock %}
