
<nav class="navbar navbar-expand-lg fixed-top navbar-light nav-header-style">
    <div class="container">
        <a class="navbar-brand" href="{{path('home')}}" title="accueil"><img class="header-logo" src="{{ asset('img/hwg_header.png') }}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user %}
                    {% if app.user.roles[0] == "ROLE_USER" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>Utilisateur</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">                        
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('user_profile')}}">Profil</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('user_events')}}">Participations / Transports</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('user_history')}}">Historique</a>
                                </li>      
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('app_logout')}}">Déconnexion</a>
                                </li>                           
                            </ul>
                        </li>   
                        <li>
                            {# <a class="navbar-brand" href="#" title="Profil"><i class="bi bi-person-circle fs-3"></i></a> #}
                            <a href="{{path('user_profile')}}" title="Profil">
                                <img class="avatar-navbar" src="{{ asset('/img/avatar/' ~ app.user.pathAvatar ~ '.png') }}" alt="avatar {{ app.user.firstName }} {{ app.user.lastName }}">
                            </a>
                        </li>    
                    {% elseif app.user.roles[0] == "ROLE_ORGANIZER" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>Organisateur</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('organizer_profile')}}">Profil</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('organizer_events')}}">Évènements</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('organizer_history')}}">Historique</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('organizer_stats')}}">Statistiques</a>
                                </li> 
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('app_logout')}}">Déconnexion</a>
                                </li>                                     
                            </ul>
                        </li>   
                        <li>
                            <a href="{{path('organizer_profile')}}" title="Profil">
                                <img class="avatar-navbar" src="{{ asset('/img/avatar/' ~ app.user.pathAvatar ~ '.png') }}" alt="avatar {{ app.user.firstName }} {{ app.user.lastName }}">
                            </a>
                        </li>    
                    {% elseif app.user.roles[0] == "ROLE_ADMIN" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="text-primary">Administrateur</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('admin')}}">Tableau de bord</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('app_logout')}}">Déconnexion</a>
                                </li>                                   
                            </ul>
                        </li>   
                        <li>
                            <a class="navbar-brand" href="/admin" title="administration"><i class="bi bi-person-circle fs-3 text-primary"></i></a>
                        </li>   
                    {% endif %} 
                {% else %}	
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{path('app_register')}}" title="Inscription">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{path('app_login')}}" title="Connexion">Connexion</a>
                    </li>                                        
                {% endif %}	
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{path('home')}}" title="Accueil">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{path('event')}}" title="Events">Les évènements</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>



                        
                        
                        