
<nav class="navbar navbar-expand-lg fixed-top navbar-light nav-header-style">
    <div class="container">
        <a class="navbar-brand" href="{{path('home')}}" title="accueil"><img class="header-logo" src="{{ asset('img/hwg_header.png') }}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user %}
                    {% if app.user.roles[0] == "ROLE_USER" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>Utilisateur</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">                        
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('user_profile')}}">{{ 'home.profile'|trans({},'messages', locale) }}</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('user_events')}}">{{ 'home.transport_participation'|trans({},'messages', locale) }}</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('user_history')}}">{{ 'home.history'|trans({},'messages', locale) }}</a>
                                </li>      
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('app_logout')}}">{{ 'home.logout'|trans({},'messages', locale) }}</a>
                                </li>                           
                            </ul>
                        </li>   
                        <li>
                            {# <a class="navbar-brand" href="#" title="Profil"><i class="bi bi-person-circle fs-3"></i></a> #}
                            <a href="{{path('user_profile')}}" title="Profil">
                                <img class="avatar-navbar" src="{{ asset('/img/avatar/' ~ app.user.pathAvatar ~ '.png') }}" alt="avatar {{ app.user.firstName }} {{ app.user.lastName }}">
                            </a>
                        </li>    
                    {% elseif app.user.roles[0] == "ROLE_ORGANIZER" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>Organisateur</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('organizer_profile')}}">{{ 'home.profile'|trans({},'messages', locale) }}</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('organizer_events')}}">{{ 'home.events'|trans({},'messages', locale) }}</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('organizer_history')}}">{{ 'home.history'|trans({},'messages', locale) }}</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('organizer_stats')}}">{{ 'home.stats'|trans({},'messages', locale) }}</a>
                                </li> 
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('app_logout')}}">{{ 'home.logout'|trans({},'messages', locale) }}/a>
                                </li>                                     
                            </ul>
                        </li>   
                        <li>
                            <a href="{{path('organizer_profile')}}" title="Profil">
                                <img class="avatar-navbar" src="{{ asset('/img/avatar/' ~ app.user.pathAvatar ~ '.png') }}" alt="avatar {{ app.user.firstName }} {{ app.user.lastName }}">
                            </a>
                        </li>    
                    {% elseif app.user.roles[0] == "ROLE_ADMIN" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="text-primary">Administrateur</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('admin')}}">{{ 'home.dashboard'|trans({},'messages', locale) }}</a>
                                </li>  
                                <li>
                                    <a class="dropdown-item" aria-current="page" href="{{path('app_logout')}}">{{ 'home.logout'|trans({},'messages', locale) }}</a>
                                </li>                                   
                            </ul>
                        </li>   
                        <li>
                            <a class="navbar-brand" href="/admin" title="administration"><i class="bi bi-person-circle fs-3 text-primary"></i></a>
                        </li>   
                    {% endif %} 
                {% else %}	
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{path('app_register')}}" title="Inscription">{{ 'home.register'|trans({},'messages', locale) }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{path('app_login')}}" title="Connexion">{{ 'home.login'|trans({},'messages', locale) }}</a>
                    </li>                                        
                {% endif %}	
            </ul>

            <div class="language-switcher">
                <a href="{{ path('change_locale', {'locale': 'fr'}) }}"
                   class="{{ app.request.locale == 'fr' ? 'active' : '' }}">
                    🇫🇷 Français
                </a>
                <a href="{{ path('change_locale', {'locale': 'en'}) }}"
                   class="{{ app.request.locale == 'en' ? 'active' : '' }}">
                    🇬🇧 English
                </a>
            </div>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{path('home')}}" title="Accueil">{{ 'home.home'|trans({}, 'messages', locale) }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{path('event')}}" title="Events">{{ 'home.events'|trans({}, 'messages', locale) }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



                        
                        
                        