{% extends 'base.html.twig' %}

{% block title %}Profil
	{{ user.firstName }}
	{{ user.lastName }}
{% endblock %}

{% block body %}
<div class="container">
	<div class="card text-center mt-3 mb-5">
		<div class="card-header mb-5">
			{% include 'organizer/_tab-header.html.twig' with {"active_tab": "profile"} %}
		</div>
		<div class="card-body">
			<h1 class="mb-5 text-center">Modifier mon profil Organisateur</h1>
			<!--  Section profil  -->
			{{form_start(formView)}}

			<div class="row">
				<div class="col-12 col-md-6 col-xl-4 my-4">
					<div class="form-group">
						{{form_row(formView.companyName)}}
					</div>
				</div>
				<div class="col-12 col-md-6 col-xl-4 my-4">
					<div class="form-group">
						{{form_row(formView.siret)}}
					</div>
				</div>
				<div class="col-12 col-md-6 col-xl-4 my-4">
					<div class="form-group">
						{{form_row(formView.webSite)}}
					</div>
				</div>
				<div class="col-12 col-md-6 my-4">
					<div class="form-group">
						{{form_row(formView.email)}}
					</div>
				</div>
				<div class="col-12 col-md-6 my-4">
					<div class="form-group">
						{{form_row(formView.firstname)}}
					</div>
				</div>
				<div class="col-12 col-md-6 my-4">
					<div class="form-group">
						{{form_row(formView.lastname)}}
					</div>
				</div>
				<div class="col-12 col-md-6 my-4">
					<div class="form-group">
						{{form_row(formView.phone)}}
					</div>
				</div>
				<div class="col-12">
					<div class="form-group mb-3">
						<label>Renseigner votre adresse</label>
						<input class="form-control adress-field" type="text" id="adressUser" name="adressUser" placeholder="saisissez votre adresse">
					</div>
					<div>
						<nav id="resultatApiUser">

						</nav>
					</div>
				</div>
				<div class="col-12 col-md-6 col-xl-3 my-4">
					<div class="form-group">
						{{form_row(formView.localisation.cityName,{'id':'cityUser'})}}
					</div>
				</div>
				<div class="col-12 col-md-6 col-xl-3 my-4">
					<div class="form-group">
						{{form_row(formView.localisation.cityCp,{'id':'postcodeUser'})}}
					</div>
				</div>
				<div class="col-12 col-xl-6 my-4">
					<div class="form-group">
						{{form_row(formView.localisation.adress,{'id':'nameAddUser'})}}
					</div>
				</div>
				<div class="col-12 col-lg-6 my-4 d-none">
                	<div class="form-floating mb-3">
                		{{form_row(formView.localisation.coordonneesX,{'id':'xUser'})}}
            		</div>
            	</div>
				<div class="col-12 col-lg-6 my-4 d-none">
					<div class="form-floating mb-3">
						{{form_row(formView.localisation.coordonneesY,{'id':'yUser'})}}
					</div>
				</div>
				
				<div class="row">
					<button class="btn btn-primary w-25 m-auto" type="submit">Modifier</button>
				</div>	
			</div>
			{{form_end(formView)}}
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
    <script src="/script/apiAdress.js"></script>
	<script>
        envoieAjax('adressUser','User');
    </script>
{% endblock %}
