{% extends 'base.html.twig' %}

{% block title %}Évènements
	{{ user.firstName }}
	{{ user.lastName }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card text-center mt-3">
			<div class="card-header mb-5">
				{% include 'organizer/_tab-header.html.twig' with {"active_tab": "events"} %}
			</div>
			<div class="card-body">
				<a class="btn btn-success d-block w-50 m-auto mb-5" href="{{ path('event_create') }}" role="button">Créer un Évènement</a>

				<h1 class="mb-5 text-center">Liste de mes Évènements à venir</h1>

				<div class="mb-3">
					<a class="btn btn-secondary" href="{{ asset('csv/' ~ fileName) }}" download="{{ fileName }}">Exporter tous les Évènements à venir au format CSV</a>
				</div>
				<div class="accordion" id="accordionExample">
					<div class="accordion" id="accordionExample">
						{% for event in events %}
							<div class="accordion-item">
								<h2 class="accordion-header" id="heading{{event.id}}">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{event.id}}" aria-expanded="true" aria-controls="collapse{{event.id}}">
										<div class="row w-100">
											<div class="col-5">
												<strong>{{event.title}}</strong>
											</div>
											<div class="col-4">Commence le
												{{ event.startedAt | date('d/m/Y') }}</div>
										</div>
									</button>
								</h2>
								<div id="collapse{{event.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{event.id}}" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="row">
											<div class="col-12 col-md-6">
												{% include "shared/_infos_event_organizer.html.twig" %}
											</div>
											<div class="col-12 col-md-6">
												<p>Nombre de vues :
													{{ event.countViews }}</p>
												<p>Nombre de transports organisés :
													{{ event.transports | length }}</p>
												<p>Nombre de paticipants inscrits :
													{{ event.participations | length }}</p>
												<div class="mb-3">
													<a class="btn btn-primary mb-2" href="{{ path('event_show', {id: event.id}) }}" role="button">Voir l'évènement</a>
													<a class="btn btn-warning mb-2" href="{{ path('event_edit', {id: event.id}) }}" role="button">Modifier l'évènement</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
