{% extends 'base.html.twig' %}

{% block title %}Profil
	{{ user.firstName }}
	{{ user.lastName }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card text-center mt-3 mb-5">
			<div class="card-header mb-5">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item w-25">
						<a class="nav-link active" aria-current="true" href="{{path('organizer_profile')}}">Profil</a>
					</li>
					<li class="nav-item w-25">
						<a class="nav-link" href="{{path('organizer_events')}}">Évènements</a>
					</li>
					<li class="nav-item w-25">
						<a class="nav-link" href="{{path('organizer_history')}}">Historique</a>
					</li>
					<li class="nav-item w-25">
						<a class="nav-link" href="{{path('organizer_stats')}}">Statistiques</a>
					</li>
				</ul>
			</div>
			<div class="card-body mb-3">
				<h1 class="mb-4 text-center">Modifier mon mot de passe</h1>
				<div class="w-75 m-auto">
					{{form_start(formView)}}
					<div class="row">
						<div class="col-12 col-lg-6 mb-3">
							<div class="form-group">
								{{form_row(formView.newPassword)}}
							</div>
						</div>
						<div class="col-12 col-lg-6 mb-3">
							<div class="form-group">
								{{form_row(formView.newPasswordRepeat)}}
							</div>
						</div>
						<div class="row">
							<button class="btn btn-primary w-25 m-auto" type="submit">Modifier</button>
						</div>
					</div>
					{{form_end(formView)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
