{% extends 'base.html.twig' %}

{% block title %}transports de l'event :
	{{ event.title }}
{% endblock %}

{% block body %}
<div class="block-bg-impair">
	<div class="container">
		<div class="row by-4">
			<div class="col-12 my-3">
				<h1>Transports de l'event :<a href="{{path('event_show',{event_id:event.id})}}" title="vers page de l'event">{{event.title }}</a></h1>
			</div>
		</div>
	</div>
</div>
<div class="block-bg-pair">
	<div class="container">
		<div class="row w-100 mt-5 pt-5">
			<div class="col-3 text-center bg-info border border-white">Lieu de Rendez-vous</div>
			<div class="col-3 text-center bg-info border border-white">Horaires Départ</div>
			<div class="col-3 text-center bg-info border border-white">Horaires Arrivée</div>
			<div class="col-3 text-center bg-info border border-white">Places restantes</div>
		</div>
		<div class="accordion" id="accordionExample">
		{% for transport in event.transports %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="heading{{ transport.id }}">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ transport.id }}" aria-expanded="true" aria-controls="collapse{{ transport.id }}">
						<div class="row w-100">
							{% if transport.user.id == user.id %}
								<div class="col-1"><i class="fas fa-user-shield fa-w"></i></div>
								<div class="col-2">{{ transport.localisationStart.cityName }}</div>
							{% else %}
								<div class="col-3">{{ transport.localisationStart.cityName }}</div>
							{% endif %}
							<div class="col-3">{{ transport.localisationStart.cityName }}</div>
							<div class="col-3">Départ à
								<strong>{{ transport.goStartedAt | date('H:i') }} le {{ transport.goStartedAt | date('Y-m-d')}}</strong>
							</div>
							<div class="col-3">Retour à
								<strong>{{ transport.goEndedAt | date('H:i') }} le {{ transport.goEndedAt | date('Y-m-d')}}</strong>
							</div>
							<div class="col-3">
								<strong>{{ transport.remainingPlace }} places</strong>
								restantes</div>
						</div>
					</button>
				</h2>
				<div id="collapse{{ transport.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ transport.id }}" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<p>manager : {{ transport.user.firstName }} {{ transport.user.lastName }}</p>
						<p>Infos Aller : </p>
						<ul>
							<li>Départ : {{ transport.localisationStart.adress }}, {{ transport.localisationStart.cityCp }}, {{ transport.localisationStart.cityName }}</li>
							<li>Horaires : {{ transport.goStartedAt | date('H:i') }} le {{ transport.goStartedAt | date('Y-m-d')}}</li>
							<hr>
							<li>Arrivée : {{ transport.getEvent.localisation.adress }}, {{ transport.getEvent.localisation.cityCp }}, {{ transport.getEvent.localisation.cityName }}</li>
							<li>Horaires : {{ transport.goEndedAt | date('H:i') }} le {{ transport.goEndedAt | date('Y-m-d')}}</li>
						</ul>
						<p>infos Retour : </p>
						<ul>
							<li>Départ : {{ transport.getEvent.localisation.adress }}, {{ transport.getEvent.localisation.cityCp }}, {{ transport.getEvent.localisation.cityName }}</li>
							<li>Horaires : {{ transport.returnStartedAt | date('H:i') }} le {{ transport.returnStartedAt | date('Y-m-d')}}</li>
							<hr>
							<li>Arrivée : {{ transport.localisationReturn.adress }}, {{ transport.localisationReturn.cityCp }}, {{ transport.localisationReturn.cityName }}</li>
							<li>Horaires : {{ transport.returnEndedAt | date('H:i') }} le {{ transport.returnEndedAt | date('Y-m-d')}}</li>
						</ul>
						<p>commentaires : {{ transport.commentary }}</p>
						<p>Places disponibles : {{ transport.remainingPlace }} / {{ transport.totalPlace }}</p>
						<p>Prix du billet : {{ transport.placePrice }} €</p>
						<a href="{{ path('transport_show', {transport_id: transport.id }) }}">vers la page détail du transport</a>
						{% if user.id == transport.user.id %}
						<a href="{{ path('transport_manage',{transport_id:transport.id}) }}">Gérer votre transport</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
	
	
{% endblock %}
