{% extends 'base.html.twig' %}

{% block title %}Transport : {{ transport.id }}{% endblock %}

{% block body %}
	<h2>Gestion du transport : {{ transport.id }}</h2>
	<div class="row">
		<div class="col-12">
			<div class="card text-center">
				<div class="card-header">
					<span>Transport pour l'evenement
						<strong>{{ transport.event.title }}</strong>
					</span><br>
				</div>
				<div class="card-body">
					<p>Infos Aller : </p>
					<ul>
						<li>Départ : {{ transport.localisationStart.adress }}, {{ transport.localisationStart.cityCp }}, {{ transport.localisationStart.cityName }}</li>
						<li>Horaires : {{ transport.goStartedAt | date('H:i') }} le {{ transport.goStartedAt | date('Y-m-d')}}</li>
						<li>Arrivée : {{ transport.getEvent.localisation.adress }}, {{ transport.getEvent.localisation.cityCp }}, {{ transport.getEvent.localisation.cityName }}</li>
						<li>Horaires : {{ transport.goEndedAt | date('H:i') }} le {{ transport.goEndedAt | date('Y-m-d')}}</li>
					</ul>
					<hr>
					<p>infos Retour : </p>
					<ul>
						<li>Départ : {{ transport.getEvent.localisation.adress }}, {{ transport.getEvent.localisation.cityCp }}, {{ transport.getEvent.localisation.cityName }}</li>
						<li>Horaires : {{ transport.returnStartedAt | date('H:i') }} le {{ transport.returnStartedAt | date('Y-m-d')}}</li>
						<li>Arrivée : {{ transport.localisationReturn.adress }}, {{ transport.localisationReturn.cityCp }}, {{ transport.localisationReturn.cityName }}</li>
						<li>Horaires : {{ transport.returnEndedAt | date('H:i') }} le {{ transport.returnEndedAt | date('Y-m-d')}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<h2>Les demandes de tickets</h2>
	<div class="row mt-3">
		<div class="col-12 col-lg-8 border-end">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Numéro</th>
						<th scope="col">Status</th>
						<th scope="col">Nom</th>
						<th scope="col">Places souhaitées</th>
						<th scope="col">faite le</th>
						<th scope="col">Commentaire</th>
						<th scope="col" colspan="2">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for ticket in transport.tickets %}						
						<tr>
							<th scope="row">{{ ticket.id}}</th>
							<td>
							{% if ticket.isValidate is null %}
								En attente
							{% elseif ticket.isValidate %}
								validé le {{ ticket.validateAt | date('Y-m-d') }}
							{% else %}
								refusé
							{% endif %}
							
							</td>
							<td>{{ ticket.user.firstName }}</td>
							<td>{{ ticket.countPlaces }}</td>
							<td>{{ ticket.askedAt | date('Y-m-d') }}</td>
							<td>{{ ticket.commentary }}</td>
							<td>
								<a href="{{ path('transport_accept_ticket', {ticket_id: ticket.id }) }}">Valider</a>
							</td>
							<td>
								<a href="{{ path('transport_decline_ticket', {ticket_id: ticket.id }) }}">Annuler</a>
							</td>
						</tr>
					{% endfor %}			
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
