{% extends 'base.html.twig' %}

{% block title %}Transport : {{ transport.id }}{% endblock %}

{% block body %}
<h2>Transport : {{ transport.id }} / de l'event : {{ transport.event.title }}</h2>
<div>
    <h3>Recap du transport</h3>
    <p>manager : {{ transport.user.firstName }} {{ transport.user.lastName }}</p>
    <p>Infos Aller : </p>
    <ul>
        <li>Départ : {{ transport.localisationStart.adress }}, {{ transport.localisationStart.cityCp }}, {{ transport.localisationStart.cityName }}</li>
        <li>Horaires : {{ transport.goStartedAt | date('H:i') }} le {{ transport.goStartedAt | date('Y-m-d')}}</li>
        <hr>
        <li>Arrivée : {{ transport.getEvent.localisation.adress }}, {{ transport.getEvent.localisation.cityCp }}, {{ transport.getEvent.localisation.cityName }}</li>
        <li>Horaires : {{ transport.goEndedAt | date('H:i') }} le {{ transport.goEndedAt | date('Y-m-d')}}</li>
    </ul>
    <p>infos Retour : </p>
    <ul>
        <li>Départ : {{ transport.getEvent.localisation.adress }}, {{ transport.getEvent.localisation.cityCp }}, {{ transport.getEvent.localisation.cityName }}</li>
        <li>Horaires : {{ transport.returnStartedAt | date('H:i') }} le {{ transport.returnStartedAt | date('Y-m-d')}}</li>
        <hr>
        <li>Arrivée : {{ transport.localisationStart.adress }}, {{ transport.localisationStart.cityCp }}, {{ transport.localisationStart.cityName }}</li>
        <li>Horaires : {{ transport.returnEndedAt | date('H:i') }} le {{ transport.returnEndedAt | date('Y-m-d')}}</li>
    </ul>
    <p>commentaires : {{ transport.commentary }}</p>
    <p>Places disponibles : {{ transport.remainingPlace }} / {{ transport.totalPlace }}</p>
    <p>Prix du billet : {{ transport.placePrice }} €</p>
</div>

<hr>
<h3>Demander à rejoindre le transport</h3>

<!-- FORM -->
<form>
    <div class="mb-3">
        <label for="exampleInputNumber" class="form-label">Nombre de places à reserver</label>
        <input type="number" class="form-control" id="exampleInputNumber">
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">commentaires / questions a destination du responsable</label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Faire une demande pour rejoindre le transport</button>
</form>
{% endblock %}
