{% extends 'base.html.twig' %}

{% block title %}Transport : {{ transport.id }}{% endblock %}

{% block body %}
<h2>Transport : {{ transport.id }} / de l'event : {{ transport.event.title }}</h2>
<div>
    <h3>Recap du transport</h3>
    <p>manager : {{ transport.user.firstName }} {{ transport.user.lastName }}</p>
    <p>Infos Aller : </p>
    <ul>
        <li>Départ : {{ transport.localisationStart.adress }}, {{ transport.localisationStart.cityCp }}, {{ transport.localisationStart.cityName }}</li>
        <li>Horaires : {{ transport.goStartedAt | date('H:i') }} le {{ transport.goStartedAt | date('Y-m-d')}}</li>
        <hr>
        <li>Arrivée : {{ transport.getEvent.localisation.adress }}, {{ transport.getEvent.localisation.cityCp }}, {{ transport.getEvent.localisation.cityName }}</li>
        <li>Horaires : {{ transport.goEndedAt | date('H:i') }} le {{ transport.goEndedAt | date('Y-m-d')}}</li>
    </ul>
    <p>infos Retour : </p>
    <ul>
        <li>Départ : {{ transport.getEvent.localisation.adress }}, {{ transport.getEvent.localisation.cityCp }}, {{ transport.getEvent.localisation.cityName }}</li>
        <li>Horaires : {{ transport.returnStartedAt | date('H:i') }} le {{ transport.returnStartedAt | date('Y-m-d')}}</li>
        <hr>
        <li>Arrivée : {{ transport.localisationStart.adress }}, {{ transport.localisationStart.cityCp }}, {{ transport.localisationStart.cityName }}</li>
        <li>Horaires : {{ transport.returnEndedAt | date('H:i') }} le {{ transport.returnEndedAt | date('Y-m-d')}}</li>
    </ul>
    <p>commentaires : {{ transport.commentary }}</p>
    <p>Places disponibles : {{ transport.remainingPlace }} / {{ transport.totalPlace }}</p>
    <p>Prix du billet : {{ transport.placePrice }} €</p>
</div>

<hr>
<h3>Demander à rejoindre le transport</h3>
    {# Si l'utilisateur n'est pas le manager du transport et si il n'a pas déjà créé un ticket pour celui-ci #}
    {% if transport.user.id == user.id %}
        <p>Vous êtes le manager de ce Transport pour cet événement</p>
        <a href="{{path('transport_manage',{transport_id:transport.id})}}">Gérer votre transport</a>
    {% else %}
        {% if ticket.id == null %}
            {{form_start(form)}}
            {{form_widget(form.countPlaces, {'attr':{'min':0,'max':transport.remainingPlace}})}}
            {{form_widget(form.commentary)}}
            <input class="btn btn-primary" type="submit" name="submit">
            {{form_end(form)}}
        {% else %}
            <p>Vous avez déjà réaliser un demande pour se transport</p>
            <a class="btn btn-primary" href="{{path('cancel_ticket',{id: ticket.id, transport_id: transport.id })}}">Annuler ma demande</a>
        {% endif %}
    {% endif %}
{% endblock %}
