<h1>Bonjour {{ user.firstname }} {{ user.lastname }}</h1>

<p>vous êtes inscrit à l'event : {{ event.title }}</p>
<p>Et vous avez réserver une place sur le {{transport.user.firstname}} {{transport.user.lastname}}</p>

<p>Votre transport debutera dans moins de deux jour</p>
<ul>
    <li>date de départ {{transport.goStartedAt | date('d-m-Y')}}</li>
</ul>