<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('styles/dashboardAdmin.css')}}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        {% endblock %}
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Herewego</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{path('app_logout')}}">Sign out</a>
                </li>
            </ul>
        </header>
        <main class="py-4">
            {% block messages %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% for label,messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{label}}">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endblock %}
            <div class="container-fluid">
                <div class="row">
                {% block navbarAdmin %}
                    {% include "shared/_navbar.admin.html.twig" %}
                {% endblock %} 
                {% block body %}

                {% endblock %}
                </div>
            </div>
        </main>
        {% block javascripts %}
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
        {% endblock %}        
    </body>
</html>
