{% extends 'base.html.twig' %}

{% block title %}Historique 
	{{ user.firstName }}
	{{ user.lastName }}
{% endblock %}

{% block body %}
	<div class="card text-center">
		<div class="card-header mb-5">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item w-25">
					<a class="nav-link" aria-current="true" href="{{path('organizer_profil')}}">Profil</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link" href="{{path('organizer_events')}}">Events</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link active" href="{{path('organizer_history')}}">Historique</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link" href="{{path('organizer_stats')}}">Statistiques</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<h2 class="mb-5 text-center">Liste de mes events passés</h2>
			<a href="{{ asset('csv/' ~ fileName) }}" download="{{ fileName }}">Exporter tous les events passés en fichier csv</a>
			<div class="accordion" id="accordionExample">
				<div class="accordion" id="accordionExample">
					{% for event in events %}
						<div class="accordion-item">
							<h2 class="accordion-header" id="heading{{ event.id }}">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ event.id }}" aria-expanded="false" aria-controls="collapse{{ event.id }}">
									Event #{{ event.id }}
									-
									{{ event.title }}
									-
									{{ event.startedAt | date('Y-m-d') }}
								</button>
							</h2>
							<div id="collapse{{ event.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ event.id }}" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<p><em>Liste des infos à venir lorsqu'on mettra en page, tout est dispos</em></p>
									
									<p>nombre de vue sur le site : {{ event.countViews }}</p>
									<p>nombre de transports organisés : {{ event.transports | length }}</p>
									<p>nombre de paticipants sur le site : {{ event.participations | length }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
