{% extends 'base.html.twig' %}

{% block title %}Profil
	{{ user.firstName }}
	{{ user.lastName }}
{% endblock %}

{% block body %}
	<div class="card text-center">
		<div class="card-header mb-5">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item w-25">
					<a class="nav-link active" aria-current="true" href="{{path('organizer_profil')}}">Profil</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link" href="{{path('organizer_events')}}">Events</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link" href="{{path('organizer_history')}}">Historique</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link" href="{{path('organizer_stats')}}">Statistiques</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<h2 class="mb-5 text-center">Modifier mon mot de passe</h2>
			<!--  Section profil  -->
			{{form_start(formView)}}

			<div class="row">
				<div class="col-12 col-lg-6 my-4">
					<div class="form-group">
						{{form_row(formView.newPassword)}}
					</div>
				</div>	
				<div class="col-12 col-lg-6 my-4">
					<div class="form-group">
						{{form_row(formView.newPasswordRepeat)}}
					</div>
				</div>	
				<div class="row">
					<button class="btn btn-primary w-25 m-auto" type="submit">Modifier</button>
				</div>			
			</div>
			{{form_end(formView)}}
		</div>
	</div>
{% endblock %}
