{% extends 'base.html.twig' %}

{% block title %}Statistiques 
	{{ user.firstName }}
	{{ user.lastName }}
{% endblock %}

{% block body %}
<div class="container">

	<div class="card text-center mt-3">
		<div class="card-header mb-5">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item w-25">
					<a class="nav-link" aria-current="true" href="{{path('organizer_profil')}}">Profil</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link" href="{{path('organizer_events')}}">Évênements</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link" href="{{path('organizer_history')}}">Historique</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link active" href="{{path('organizer_stats')}}">Statistiques</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<h1 class="mb-5 text-center">Statistiques</h1>
			<em>En construction</em>
			<div class="mb-3">
				<a class="btn btn-secondary" href="{{ asset('csv/' ~ fileName) }}" download="{{ fileName }}">Exporter tous les Évênements au format CSV</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
