
        <div class="row">
            <div class="col-12 col-lg-6 my-4">
                <div class="form-group">
                    {{form_row(form.email)}}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-4">
                <div class="form-group">
                    {{form_row(form.password)}}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-4">
                <div class="form-group">
                    {{form_row(form.confirmPassword)}}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-4">
                <div class="form-group">
                    {{form_row(form.firstname)}}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-4">
                <div class="form-group">
                    {{form_row(form.lastname)}}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-4">
                <div class="form-group">
                    {{form_row(form.phone)}}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-4">
                <div class="form-group">
                    {{form_row(form.cityName)}}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-4">
                <div class="form-group">
                    {{form_row(form.cityCp)}}
                </div>
            </div>
            <div class="col-12 col-lg-6 my-4">
                <div class="form-group">
                    {{form_row(form.adress)}}
                </div>
            </div>
        </div>
        
    