{% extends 'base.html.twig' %}

{% block title %}HereWeGo{% endblock %}
{% set locale = app.request.locale %}
{% block body %}
	<!-- DEBUT CONTENU DE LA PAGE -->
	<div class="banniere">
		<div class="container">
			<div class="row">
				<div class="col-12">
					{% include "event/_search.html.twig" %}
				</div>
			</div>
		</div>
	</div>
	<!-- Event populaire -->
	<div class="block-bg-pair">
		<div class="container">
			<div class="row py-5 ">
				<div class="col-12 d-flex justify-content-center my-5">
					<h3 class="h3-index">{{ 'home.last_events'|trans }}</h3>
				</div>
				{% for event in lastEvents %}
					<div class="col-12 col-sm-6 col-lg-4 mb-3">
						{% include '/includes/_event-card.html.twig' with {"event": event} %}
					</div>
				{% endfor %}
				<div class="col-12">
					<a class="btn btn-primary" href="{{path('event')}}">{{ 'home.see_more'|trans }}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="block-bg-impair">
		<div class="container">
			<div class="row py-5">
				<div class="col-12 d-flex justify-content-center my-5">
					<h3 class="h3-index">{{ 'home.most_popular_event'|trans }}</h3>
				</div>
				{% for event in popularityEvents %}
					<div class="col-12 col-sm-6 col-lg-4 mb-3">
						{% include '/includes/_event-card.html.twig' with { "event": event } %}
					</div>
				{% endfor %}
				<div class="col-12">
					<a class="btn btn-primary" href="{{path('event')}}">{{ 'home.see_more_popular_event'|trans }}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="block-bg-pair">
		<div class="container">
			<div class="row py-5">
				<div class="col-12">
					<h3>{{ 'home.event_categories'|trans }}</h3>
				</div>
				<div class="col-12"></div>
				{% for category in categories %}
					<a href="{{path('event_category', {id: category.id}) }}" type="button" class="btn btn-primary btn-lg my-2 me-2">{{category.name}}</a>
				{% endfor %}
			</div>
			<div class="col-12"></div>
		</div>
	</div>
</div>{% endblock %}
