{% extends 'base.html.twig' %}

{% block title %}HereWeGo{% endblock %}

{% block body %}
	<!-- DEBUT CONTENU DE LA PAGE -->
	<div class="banniere">
		<div class="container">
			<div class="row">
				<div class="col-12">
					{% include "event/_search.html.twig" %}
				</div>
			</div>
		</div>
	</div>
	<!-- Event populaire -->
	<div class="block-bg-pair">
		<div class="container">
			<div class="row py-5 ">
				<div class="col-12 d-flex justify-content-center my-5">
					<h3 class="h3-index">Derniers événements</h3>
				</div>
				{% for event in lastEvents %}
					<div class="col-12 col-sm-6 col-lg-4 mb-3">
						<a href="{{ path('event_show', {event_id: event.id }) }}">
							<div class="card event-card">
								{% set color = event.category.color is defined? event.category.color : '#0000'%}
								<div class="card-header" {{'style= background-color:'~ color }}  >

                    			</div> 
								<div class="card-body">
									<h5 class="card-title">{{ event.title }}</h5>
									<p>
										<em>Le
											{{ event.startedAt | date('d/m/Y') }}</em>
									</p>
									<div class="card-text event-card-desc">{{ event.description | u.truncate(90, "...") | raw}}</div>
									<span style="border: 2px solid {{ event.category.color }};color: {{ event.category.color }}" class="badge">{{ event.category.name }}</span>
								</div>
								{% set images = [] %}
								{% for image in event.pictures|sort((a,b) => a.orderPriority >= b.orderPriority) %}
									{% set images = images|merge([image]) %}
								{% endfor %}
								<div class="picture">
									{% if event.pictures is not empty %}
										<img src="{{ asset('uploads/' ~ images[0].path) }}" class="card-img-top" alt="{{ event.title }}">
									{% else %}
										<img src="{{ asset('img/image_event_default.jpg') }}" class="card-img-top" alt="{{ event.title }}">
									{% endif %}
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
				<div class="col-12">
					<a class="btn btn-primary" href="{{path('event')}}">Voir plus de derniers events</a>
				</div>
			</div>
		</div>
	</div>
	<div class="block-bg-impair">
		<div class="container">
			<div class="row py-5">
				<div class="col-12 d-flex justify-content-center my-5">
					<h3 class="h3-index">Evénements les plus populaires</h3>
				</div>
				{% for event in popularityEvents %}
					<div class="col-12 col-sm-6 col-lg-4 mb-3">
						{% include '/includes/_event-card.html.twig' with { "event": event } %}
					</div>
				{% endfor %}
				<div class="col-12">
					<a class="btn btn-primary" href="{{path('event')}}">Voir plus d'événements populaires'</a>
				</div>
			</div>
		</div>
	</div>
	<div class="block-bg-pair">
		<div class="container">
			<div class="row py-5">
				<div class="col-12">
					<h3>Catégorie d'événements</h3>
				</div>
				<div class="col-12"></div>
				{% for category in categories %}
					<a href="{{path('event_category', {category_id: category.id}) }}" type="button" class="btn btn-primary btn-lg my-2 me-2">{{category.name}}</a>
				{% endfor %}
			</div>
			<div class="col-12"></div>
		</div>
	</div>
</div>{% endblock %}
