{% extends 'base.html.twig' %}

{% block title %}Events {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
	<div class="card text-center">
		<div class="card-header mb-5">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item w-25">
					<a class="nav-link" aria-current="true" href="{{path('user_profil')}}">Profil</a>
				</li>
				<li class="nav-item w-50">
					<a class="nav-link active" href="{{path('user_events')}}">Events</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link" href="{{path('user_history')}}">Historique</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<h2 class="mb-5 text-center">Mes participations aux Êvenements à venir</h2>
			{% if participations | length == 0 %}
				<h4>aucune participations à ce jour</h4>
			{% else %}		
				<div class="accordion" id="accordionExample">
					{% for p in participations %}		
						{% set break = false %}
						{% for transport in p.event.transports %}
							{% if not break %}											
								{% if transport.user.id == user.id %}
									{# mon accordion item : vous proposez un transport #}
									<div class="accordion-item">
										<h2 class="accordion-header" id="heading{{p.id}}">
											<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{p.id}}" aria-expanded="true" aria-controls="collapse{{p.id}}">
												<div class="row w-100">
													<div class="col-3">{{p.event.title}}</div>
													<div class="col-3">{{ p.event.startedAt | date('Y-m-d') }}</div>
													<div class="col-5">
														<span class="btn btn-info">vous proposez un transport</span>														
													</div>
												</div>
											</button>
										</h2>
										<div id="collapse{{p.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{p.id}}" data-bs-parent="#accordionExample">
											<div class="accordion-body">
												<h2 class="box border border-primary">INFOS DE L'EVENT</h2>
												<div class="row w-100">
													<div class="col-6 bg-info">
														<p class="text-center">Vous avez proposé un transport</p>
														<p class="text-center">places restantes : {{ transport.remainingPlace }} / {{ transport.totalPlace }}</p>
													</div>
													<div class="col-6">
														<a class="btn btn-primary" href="{{ path('transport_manage', {transport_id: transport.id}) }}" role="button">Gerer mon transport</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% set break = true %}									
								{% else %}
									{% for ticket in transport.tickets %}
										{% if not break %}		
											{% if ticket.user.id == user.id %}
												{% if ticket.isValidate %}
													{# mon accordion item : Vous avez un transport #}
													<div class="accordion-item">
														<h2 class="accordion-header" id="heading{{p.id}}">
															<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{p.id}}" aria-expanded="true" aria-controls="collapse{{p.id}}">
																<div class="row w-100">
																	<div class="col-3">{{p.event.title}}</div>
																	<div class="col-3">{{ p.event.startedAt | date('Y-m-d') }}</div>
																	<div class="col-5">
																		<span class="btn btn-success">Vous avez un transport</span>														
																	</div>
																</div>
															</button>
														</h2>
														<div id="collapse{{p.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{p.id}}" data-bs-parent="#accordionExample">
															<div class="accordion-body">
																<h2 class="box border border-primary">INFOS DE L'EVENT</h2>
																<div class="row w-100">
																	<div class="col-6 bg-success">
																		<p class="text-center text-light">Vous faites partis d'un transport</p>
																	</div>
																	<div class="col-6">
																		<a class="btn btn-primary" href="{{ path('transport_show', {transport_id: transport.id}) }}" role="button">Voir mon transport</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													{% set break = true %}	
												{% else %}
													{# mon accordion item : Vous avez une demande de transport en cours #}
													<div class="accordion-item">
														<h2 class="accordion-header" id="heading{{p.id}}">
															<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{p.id}}" aria-expanded="true" aria-controls="collapse{{p.id}}">
																<div class="row w-100">
																	<div class="col-3">{{p.event.title}}</div>
																	<div class="col-3">{{ p.event.startedAt | date('Y-m-d') }}</div>
																	<div class="col-5">
																		<span class="btn btn-warning">Vous avez une demande de transport en cours</span>														
																	</div>
																</div>
															</button>
														</h2>
														<div id="collapse{{p.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{p.id}}" data-bs-parent="#accordionExample">
															<div class="accordion-body">
																<h2 class="box border border-primary">INFOS DE L'EVENT</h2>
																<div class="row w-100">
																	<div class="col-6 bg-warning">
																		<p class="text-center">Vous avez fait une demande pour rejoindre un transport</p>
																		<p class="text-center">demande effectué le {{ ticket.askedAt | date('Y-m-d') }} auprès de {{ transport.user.firstName }} {{ transport.user.lastName }}</p>
																	</div>
																	<div class="col-6">
																		<a class="btn btn-primary" href="{{ path('transport_show', {transport_id: transport.id}) }}" role="button">Voir le transport</a>
																		<a class="btn btn-secondary" href="#" role="button">Annuler ma demande</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													{% set break = true %}	
												{% endif %}
											{% endif %}
										{% endif %}
									{% endfor %}
									{% if not break %}													
										{# mon accordion item : Sans transport #}
										<div class="accordion-item">
											<h2 class="accordion-header" id="heading{{p.id}}">
												<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{p.id}}" aria-expanded="true" aria-controls="collapse{{p.id}}">
													<div class="row w-100">
														<div class="col-3">{{p.event.title}}</div>
														<div class="col-3">{{ p.event.startedAt | date('Y-m-d') }}</div>
														<div class="col-5">
															<span class="btn btn-danger">Vous n'avez pas de transport</span>														
														</div>
													</div>
												</button>
											</h2>
											<div id="collapse{{p.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{p.id}}" data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<h2 class="box border border-primary">INFOS DE L'EVENT</h2>
													<div class="row w-100">
														<div class="col-6 bg-danger">
															<p class="text-center text-light">Vous n'avez pas de transport pour cet event ?
															</p>
														</div>
														<div class="col-6">
															<a class="btn btn-primary" href="{{ path('transport', {event_id: p.event.id}) }}" role="button">Rejoindre un transport existant</a>
															<a class="btn btn-primary" href="{{ path('transport_create', {event_id: p.event.id}) }}" role="button">Organiser vous-même un transport</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										{% set break = true %}	
									{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}	
					{% endfor %}				
				</div>
			{% endif %}							
		</div>
	</div>
{% endblock %}
