{% extends 'base.html.twig' %}

{% block title %}Profil {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
	<div class="card text-center">
		<div class="card-header mb-5">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item w-25">
					<a class="nav-link active" aria-current="true" href="{{path('user_profil')}}">Profil</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link" href="{{path('user_events')}}">Events</a>
				</li>
				<li class="nav-item w-25">
					<a class="nav-link" href="{{path('user_history')}}">Historique</a>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<h2 class="mb-5 text-center">Mon profil utilisateur</h2>
			<!--  Section profil  -->
			<div class="row pb-4">
				<div class="col-12 col-md-4">
					<div class="picture">
						<img class="img-thumbnail" src="{{ user.pathAvatar }}" alt="avatar {{ user.firstName }} {{ user.lastName }}">
					</div>
				</div>
				<div class="col-12 col-md-8">
					<p class="text-uppercase fs-6 fw-bold lh-1">Nom : {{ user.lastName }}</p>
					<p class="text-uppercase fs-6 fw-bold lh-1">Prénom : {{ user.firstName }}</p>
					<p class="fs-7 lh-1">Membre depuis le : {{ user.registerAt | date('Y-m-d') }}</p>
					{% if user.isPremium %}
						<p class="fs-7 lh-1 text-warning">Membre Premium</p>
					{% endif %}
				</div>
				<div class="col-12 mt-3">
					<h3>Mes stats</h3>
					<table class="table">
						<tbody>
							<tr>
								<td>Nombre de transport éffectués</td>
								<td>{{ validatedTickets }}</td>
							</tr>
							<tr>
								<td>Nombre de participation à un évent</td>
								<td>{{ user.participations | length }}</td>
							</tr>
							<tr>
								<td>Nombre de transport organisés</td>
								<td>{{ user.transports | length }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Section information -->
			<h2 class="my-5 border-top text-center">Mes informations</h2>
			<form action="">
				<div class="row pb-4">
					<div class="col-12 col-md-6 mb-3">
						<label for="nom" class="form-label">Nom</label>
						<input type="text" class="form-control" id="nom" disabled value="{{ user.lastName }}">
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="prenom" class="form-label">Prenom</label>
						<input type="text" class="form-control" id="prenom" disabled value="{{ user.firstName }}">
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" id="email" disabled value="{{ user.email }}">
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="telephone" class="form-label">Telephone</label>
						<input type="text" class="form-control" id="telephone" disabled value="{{ user.phone }}">
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="ville" class="form-label">Ville</label>
						<input type="text" class="form-control" id="ville" disabled value="{{ user.localisation.cityName }}">
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="code_postal" class="form-label">Code postal</label>
						<input type="text" class="form-control" id="code_postal" disabled value="{{ user.localisation.cityCp }}">
					</div>
					<div class="col-12 mb-3">
						<label for="adresse" class="form-label">Adresse</label>
						<input type="text" class="form-control" id="adresse" disabled value="{{ user.localisation.adress }}">
					</div>
					<a href="{{ path('user_edit') }}" title="page d'etition de profil" class="btn btn-info w-25 m-auto">je souhaite éditer mon profil</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
